<html>
<head><title>About us</title></head>
<body>
<button><a href="http://localhost:8000/home/">HOME</a></button><BR>
<div id="header">
<h4>About us</h4>
<hr>
</div>
<br>
<br>
<br>
Hello! visitor<p>
Welcome here, i know you want to know about us and our team.<p>
we are fully devoted to work for farmers and providing them agricultural help.<p>
Our team is ready to help you 24X7 anytime anywhere in India.We read your queries and complaints daily which you submit through our complaint forum.
If you want to contact us go to <b>Homepage>>menu>>contact us.</b>
Thank-you
</body>
</html>