<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<link rel="stylesheet" href="newcomp.css"> 
	<div id="header">
		<img src="logo.jpg">                          <h1>KISANSEVA:</h1><h4>Ready to help</h4>
	</div>

		<script type="text/javascript">
		function toggleslidebar(){
			document.getElementById('sidebar').classList.toggle('active');
		}
	</script>
	
	<div id="sidebar">

		<div class="toggle_button" onclick="toggleslidebar()">
			<span></span>
			<span></span>
			<span></span>
			
		</div>
		<ul>
			<li><a href="home.html">Home</a></li>
			<li><a href="complaint.html">Complaint Forum</a></li>
			<li><a href="soil types.html">Soil Types in India</a></li>
			<li><a href="PRICES.html">Daily Prices</a></li>
			<li><a href="slider.html">Gallery</a></li>
			<li><a href="#">contact</a></li>
			<li><a href="#">about</a></li>
		</ul>
		
	</div>
</body>
</html>