{% load static %}
<html>
<head>
    <style type="text/css">
        body{
            background:url({% static 'css/prices.jpeg' %}) no-repeat
                center center fixed;
            background-size:100% 100%;
     </style>
</head>
<body>
 
<button><a href="http://localhost:8000/home/">HOME</a></button><BR>
<font color="white"size=5>
DATE:<script>
  var dt=new Date()
  document.write(dt)
</script></FONT>
<p><font size=4 color="yellow"> Farmers are always subjected to various type of exploition the didnt get any prices for their crops</font>
</p>
<h2><FONT COLOR="RED"> HERE ARE THE PRICES:</h2></font>
<TABLE BORDER="4"BORDERCOLOR="RED" CELLPADDING="3" ALIGN="center"bgcolor="white">
<TR>
<TH>CROPS</TH>
<TH>PRICES(RS/QUINTAL)</TH>
<TH>RECENT TRENDS</TH>
</TR>
<TR><TD>RICE</TD><TD>2700</TD>
<TD height="70">INCREASING
</TD></TR>
<TR><TD>SUGARCANE</TD><TD>1700</TD>
<TD height="70">DECREASING
</TD></TR>
<TR><TD>WHEAT</TD><TD>1700</TD>
<TD height="70">DECREASING
</TD></TR>
<TR><TD>PADDY</TD><TD>1700</TD>
<TD height="70">INCREASING
</TD></TR>
<TR><TD>ARHAR</TD><TD>1700</TD>
<TD height="70">INCREASING
</TD></TR>
<TR><TD>JUTE</TD><TD>1700</TD>
<TD height="70">INCREASING
</TD></TR>
<TR><TD>BAJRA</TD><TD>1700</TD>
<TD height="70">INCREASING
</TD></TR></TABLE>
</h3>

</BODY></HTML>














