{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Image Gallery</title>
	<link rel="stylesheet" href={%static "css/slider.css" %}>
</head>
<body>
	<h1>Gallery</h1>
	<hr>

	<div id="img-box" class="small">
		<div class="shadow1"></div>
		<div class="shadow2"></div>
		<img src={%static "css/tunnel.jpeg" %} id="smallimg">
		
	</div>
	<div class="imagelist">
		<ul>
			<li onclick="onTfarm()">Tunnel Farming</li>
			<li onclick="onOfarm()">Organic Farming</li>
			<li onclick="onOchart()">Organic Farming Chart</li>
			<li onclick="onPlant()"> Plant</li>
			<li onclick="onFields()">Fields</li>
		</ul>
	</div>
	<script>
		var smallImg=documnt.getElementById("smallimg");
		function onTfarm() {
			smallimg.src={%static "css/tunnel.jpeg" %};

			// body...
		}

		function onOfarm() {
			smallimg.src={%static "css/organic.jpeg" %};
		
			// body...
		}

        function onOchart() {
			smallimg.src={%static "css/chartof.png" %};
		
			// body...
		}
        function onFields() {
			smallimg.src={%static "css/fields.jpeg" %};
		
			// body...
		}

		function onPlant() {
			smallimg.src={%static "css/plants.jpeg" %};
		
			// body...
		}


	</script>

</body>
</html>